<div id="iframe_disqus"></div>
<script>
    if ( window.screen.width < 700 ){

       var button = document.createElement("a");
       button.onclick = function(){ button.style.display ="none"; activateDisqus();};
       button.innerText = 'activate comment section';
       button.id='comments';

       var frame= document.getElementById('iframe_disqus');
       frame.parentElement.insertBefore(button,frame);
    }
    else{
        activateDisqus();
    }

    function activateDisqus(){
      var iframe = document.createElement('iframe');
      iframe.src = "/iframe_disqus.html";
      iframe.scrolling="no";
      iframe.height=500;
      document.getElementById('iframe_disqus').appendChild(iframe);

      var resize = function(){ iframe.height = iframe.contentDocument.body.scrollHeight; }
      setTimeout(resize , 1000);
      setInterval(resize, 1000);
    }
</script>
