<div id="disqus_thread"></div>
<script>
(function() {
    if ( window.screen.width < 700 ){

       var button = document.createElement("a");
       button.onclick = function(){ button.style.display ="none"; activateDisqus();};
       button.innerText = 'activate comment section';
       button.id='comments';

       var frame= document.getElementById('iframe_disqus');
       frame.parentElement.insertBefore(button,frame);
    }
    else{
        activateDisqus();
    }

    function activateDisqus(){
            var d = document;
            var disqus_shortname = 'lgohlke';
            script = d.createElement('script');
            script.type = 'text/javascript';
            script.async = true;
            script.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            d.getElementsByTagName('body')[0].appendChild(script);
    }
}
</script>
