<div id="footer">
	<div class="row contact" itemscope itemtype="http://schema.org/Person">
		<div class="col-xs-4">
			<span itemprop="name">Lars K.W. Gohlke</span>
		</div>
		<div class="col-xs-4">
			<a href="http://www.lgohlke.de/#impressum" itemprop="url" rel="prefetch">impressum</a>
		</div>
		<div class="col-xs-4">
			<a href="https://github.com/lkwg82">github.com/lkwg82</a><br />
		</div>
		
		<span class="version">last changed 2015-05-20 14:49:04 +0200 0888dc896e19d14518fe4b58b88ef36240de6042</span>
	</div>
	
</div>