<div id="footer">
	<div class="row contact" itemscope itemtype="http://schema.org/Person">
		<div class="col-xs-4">
			<span itemprop="name">Lars K.W. Gohlke</span>
		</div>
		<div class="col-xs-4">
			<a href="http://www.lgohlke.de/#impressum" itemprop="url" rel="prefetch">impressum</a>
		</div>
		<div class="col-xs-4">
			<a href="https://github.com/lkwg82">github.com/lkwg82</a><br />
		</div>
		
		<span class="version">last changed 2015-05-20 15:08:35 +0200 546e1e8a0ae912e41c29c78c732e6253d830cdf4</span>
	</div>
	
</div>