<div id="footer">
	<div class="row contact" itemscope itemtype="http://schema.org/Person">
		<div class="col-xs-4">
			<span itemprop="name">Lars K.W. Gohlke</span>
		</div>
		<div class="col-xs-4">
			<a href="http://www.lgohlke.de/#impressum" itemprop="url" rel="prefetch">impressum</a>
		</div>
		<div class="col-xs-4">
			<a href="https://github.com/lkwg82">github.com/lkwg82</a><br />
		</div>
		
		<span class="version">last changed 2015-02-17 10:47:42 +0100 2832084f26d392dff4634b3e53785e5b5056fdda</span>
	</div>
	
</div>