<script>
(function() {

    var footer = document.getElementById("footer");
    footer.onclick = toggleJustice;

    function toggleJustice(){
          var justiceDiv = document.getElementById('justice');

          if ( justiceDiv === null ){
             loadJustice();
          }else{
               if ( justiceDiv.style.display === 'none' ){
                    justiceDiv.style.display = 'block';
               }
               else{
                    justiceDiv.style.display = 'none';
               }
           }
    }

    function loadJustice(){
        var scr  = document.createElement('script'),
            head = document.head || document.getElementsByTagName('head')[0];
            scr.src = '/js/justice.latest.js';
            scr.async = false; // optionally
            scr.onload = function(){
             Justice.init({
                  metrics: {
                    TTFB:             { budget: 200   },
                    domInteractive:   { budget: 300   },
                    domComplete:      { budget: 800   },
                    firstPaint:       { budget: 1000  },
                    pageLoad:         { budget: 2000  },
                    requests:         { budget: 10    },
                  },

                  warnThreshold: 0.70,
                  showFPS: false,
                  chartType: 'spline'
             });
            };

        head.insertBefore(scr, head.firstChild);
    }
})();

</script>