<!--
 based on:
   - https://www.filamentgroup.com/lab/font-events.html
   - https://github.com/bramstein/fontfaceobserver
//-->
<script src="/bower_components/fontfaceobserver/fontfaceobserver.standalone.js"></script>
<script>
    var observers = [];
    observers.push(new FontFaceObserver("Ubuntu", {weight: 400}).check);
    observers.push(new FontFaceObserver("Glegoo", {weight: 400}).check);

    Promise.all(observers).then(function () {
        console.log('Font is available');
        window.document.documentElement.className += " fonts-loaded";
    }, function () {
        console.log('Font is not available');
    });
</script>