/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

* {
  margin: 0;
  padding: 0;
  line-height: 1.7em;
}

html, body {
  height: 100%;
}

body {
  font-family: serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-family: sans-serif;
}

.fonts-loaded {
  body {
    font-family: 'Glegoo'
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu';
  }
}

p {
  margin: 1em 0;
}

a {
  color: #266495;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}

a:hover {
  color: #000;
  background-color: #fefede;
  -webkit-transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  margin: auto;
  line-height: 1.5em;

  max-width: 120rem;
  width: 95%;
  background-color: white;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  display: inline-block;
  margin-bottom: 2em;

  a {
    color: #a00;
  }

  a:hover {
    color: #000;
  }
}

.header {
  a.extra {
    color: #aaa;
    margin-left: 1em;
  }
  a.extra:hover {
    color: #000;
  }
}

.meta {
  color: #aaa;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;

  .contact {
    float: left;
    margin-right: 3em;
    a {
      color: #8085C1;
    }
  }
  .rss {
    margin-top: 1.1em;
    margin-right: -.2em;
    float: right;
    img {
      border: 0;
    }
  }

}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.post {
  line-height: 1.3em;

  ul,
  ol {
    margin-left: 1.35em;
  }

  pre.terminal {
    border: 1px solid #000;
    background-color: #333;
    color: #FFF;

    code {
      background-color: #333;
    }
  }
}

.file,
file,
figcaption,
cmd,
name {
  font-family: sans-serif;
  background-color: #f5f5f5;
  padding: 0.2rem 0.5rem;
  margin: 0.1rem;
  border: 1px solid #E6E6E6;
}

figure {
  figcaption {
    margin: 0;
    padding-bottom: 0;
  }
  .highlight {
    padding-top: 0;
  }
}

img {
  max-width: 100%;
}

.info {
  background-color: rgba(222, 231, 92, 0.37);
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 1rem;

  h3 {
    font-weight: bold;
  }
}

pre {
  /* deactivate bootstrap round corners */
  border-radius: 0;
}

#header {
  background-color: rgba(239, 239, 235, 0.5);
  border-bottom: 1px solid rgba(210, 210, 210, 0.5);
  width: 100%;

  .title {
    font-size: 2.75rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    color: #392C5C;
    text-align: center;
    margin: 5rem 0 1rem -4rem;
  }
}

.date {
  width: 100%;
  display: block;
  text-align: right;
  color: grey;
}

h1 {
  font-size: 3rem;
}

h1, h2, h3 {
  margin-top: 0rem;
}

h2, h3 {
  padding-top: 2rem;
}

#neighbors {
  margin-top: 5rem;

  .prev {
    text-align: left;
  }

  .next {
    text-align: right;
  }
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.content {
  border-right: 1px solid #efefef;
}

article {
  padding-top: 3rem;
  border-bottom: 1px none #EFEFEF;
  text-align: initial;

  header h1 {
    margin-top: 0;
  }
}

.recent {
  line-height: 1.8em;
  h3 {
    margin-top: 20px;
    font-weight: bold;
  }
  li {
    padding: 0.05rem 0;
    margin: 0.5rem 0;
    list-style: none;
  }
  a {
    color: rgba(0, 0, 0, 0.81);
  }
}

#footer {
  background-color: rgba(239, 239, 235, 0.5);
  border-top: 1px dotted rgba(210, 210, 210, 0.5);
  width: 100%;
  height: 10rem;

  .contact {
    max-width: 50rem;
    margin: 1rem auto;
    width: 100%;
  }
}

.cite {
  font-style: italic;
  background-color: #EFFFAD;
  display: inline-block;
  padding: 3rem;
}

ul {
  margin-left: 3rem;
  li {
    list-style-type: circle;
  }
}

ol.sources {
  margin-left: 0;
  counter-reset: item;
}

.sources li {
  list-style-type: none;
}

.sources li:before {
  display: inline-block;
  content: "[" counter(item, decimal) "]";
  counter-increment: item;
  width: 3rem;
}

a[rel=full-article],
a[id=comments] {
  text-align: center;
  background: #e5e5e5;
  display: inline-block;
  padding: .4em .8em;
  margin-right: .5em;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

a[rel=full-article]:hover,
a[id=comments] {
  background: #2878e3;
  text-shadow: none;
  color: #f2f2f2;
}

a[id=comments] {
  margin: 1rem auto;
  padding: 1em 2em;
  width: 100%;
}

h2 {
  font-weight: bold;
  font-size: 2rem;
}

.image {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

img.center{
  display: block;
  margin: 0 auto;
}

.warning {
  background-color: red !important;
  color: white;
  font-weight: bold;
  display: block;
  white-space: normal;
}

.twitter-timeline {
  height: 100rem;
  margin-top: 2rem !important;
}

.justice-metric-wrap {
  height: 20px;
}

.justice-metric {
  margin: 0 !important;
  padding: 0 !important;
}

.mobile {
  display: none;
}

.share {
  text-align: center;
}

.share img {
  margin: 2rem 1.5rem;
}

.highlight {
  padding: 1rem 0;

  pre {
    line-height: 1.7em;
  }

  pre.lineno {
    border: none;
    opacity: 0.6;
    line-height: 1.7em;
  }

  .lineno {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .gutter {
    border-right: 1px solid #ccc;
  }

  .code pre {
    border: none;
  }
}

@media (max-width: 990px) {
  #header .title {
    margin: 3rem 0 0 auto;
  }

  h1, h2, h3 {
    text-align: center;
  }

  header {
    h1 {
      margin-bottom: 10px;
    }
    h2, h3 {
      margin-top: 0;
    }
  }

  .content {
    padding-left: 1rem;
    padding-right: 1rem;
    border-right: 0;
    border-bottom: 1px solid #efefef;
  }

  .date {
    text-align: center;
  }

  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}

@media (max-width: 700px) {

  .site {
    width: 100%;
  }

  .post {
    margin: 0;
  }

  .twitter-timeline {
    height: 10rem;
    padding: 2rem;
    display: block;
    color: blue !important;
  }

  .recent {
    padding: 0;
    text-align: center;

    h3 {
      padding-left: 3rem;
    }

    ul {
      margin: 0;
    }

    li {
      background-color: rgb(241, 241, 255);
      margin-bottom: 5px;
      padding: 1rem;
    }
  }

  header a,
  .recent li a {
    display: block;
    width: 100%;
  }

  a[rel=full-article] {
    width: 100%;
    padding: 1em 2em;
    margin: 1rem auto;
  }
}

@media (max-width: 360px) {
  h1 {
    font-size: 2rem;
  }
}