@font-face {
  font-family: 'Glegoo';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/glegoo_400.woff2) format('woff2'),
       url(/fonts/glegoo_400.woff)  format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/ubuntu_400.woff2) format('woff2'),
       url(/fonts/ubuntu_400.woff) format('woff');

}