

#header{
	background-color: rgba(239, 239, 235, 0.5);
	border-bottom: 1px solid rgba(210,210,210,0.5);
}

#header .title a{
	color: #4A4A4A;
}

.title a:hover {
  color: #000;
}

.content{
	border-right: 1px solid #efefef;
}

@media (max-width: 990px){
	.content{
		border-right: 0;
		border-bottom: 1px solid #efefef;
	}
}

.site{
	background-color: white;
}

article{
    border-bottom: 1px none #EFEFEF;
}


#footer{
	background-color: rgba(239, 239, 235, 0.5);
	border-top: 1px dotted rgba(210,210,210,0.5);
}



a         { color: #1701B5; }
a:hover   { color: #1701B5; }
a:visited { color: #1701B5; }